numpy<2,>=1.26
pandas<3,>=2.2
requests<3,>=2.31
pyarrow<20,>=15
plotly<6,>=5.20
streamlit<2,>=1.33
folium<1,>=0.16
pydeck<1,>=0.8
matplotlib<4,>=3.8
arviz>=0.18
pymc>=5.15
bambi<1,>=0.14
xarray>=2024.0.0
bottleneck>=1.3.8